@charset "utf-8";
body {
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  width: 100%;
  position: absolute;
  /*————————————————
版权声明：本文为CSDN博主「Cooooooooco」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/Cooooooooco/article/details/79656358*/
}